@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    @include m.tablet {
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: .1rem .2rem .3rem #333;
    }
  }
    background-color: v.$blanco;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4); 
    border-bottom: 1px solid rgba(v.$neon, 0.1); // Línea casi invisible
  
    
    .contenido-header {
        @include m.contenedor; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include m.tablet {
            flex-direction: row; // Solo cambiamos la dirección en tablet
            justify-content: space-between;
        }

        .logo img {
            height: 5rem; // Controlamos el tamaño del logo para que no se "coma" la barra
            width: auto;
        }
    }

    h1 {
        color: v.$verdeOscuro;
        font-family: v.$Fuente_Principal;
        font-size: 2.8rem;
        @include m.tablet {
            margin: 0;
        }
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include m.tablet {
        flex-direction: row; // Cambia a fila en tablet
    }

    a {
        color: v.$verdeOscuro;
        font-size: 2.4rem; // Reducido para mayor elegancia
        font-family: v.$Fuente_Principal;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s ease; // Suaviza el cambio de color

        &:hover,
        &.active {
            color: v.$neon; // Usamos tu variable neon
            text-shadow: 0 0 10px rgba(v.$neon, 0.5); // Efecto de luz tech
        }
    }

    // Botón especial para el Registro (el que va al Gmail)
    .btn-registro {
        background-color: v.$neon;
        color: v.$verdeOscuro;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-weight: 700;
        
        &:hover {
            background-color: v.$blanco;
            transform: translateY(-2px); // Pequeña animación de flotado
        }
    }
}