@use 'sass:color'; // 1. Indispensable para funciones de color modernas
@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    overflow: hidden; // Evita que el video se salga del contenedor

    .overlay {
        position: absolute;
        background: linear-gradient(
            270deg,
            rgba(v.$negro, 0.7), 
            color.adjust(v.$negro, $lightness: -20%, $alpha: -0.1) 
        ); 
        inset: 0;
        display: flex;
        flex-direction: column; // Para que el H2 y el P se apilen
        align-items: center;    // Centra horizontalmente
        justify-content: center; // Centra verticalmente
    }

    video {
        display: block;
        width: 100%;       
        height: auto;
        object-fit: cover; 
    }
}

.contenido-video {
    z-index: 10;
    text-align: center; // Centra el texto dentro del div

    h2 {
       color: v.$blanco;
       font-family: v.$Fuente_Principal; // Usa tu variable de fuente
       font-size: 4rem; // Tamaño móvil
       margin: 0;

       @include m.tablet {
           font-size: 7rem; // Tamaño tablet/desktop
       }
    }

    p {
        background-color: v.$neon;
        color: v.$verdeOscuro; // Contraste oscuro sobre el neón
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 2rem; // Espacio respecto al título
    }
}