@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-evento {
    @include m.contenedor; // Esto centra el contenido y da márgenes laterales
    padding: 5rem 0; // Espacio arriba y abajo en móvil

    @include m.tablet {
        padding: 10rem 0; // Más espacio en tablet
        @include m.grid(2, 5rem); // Forzamos 2 columnas con espacio entre ellas
        align-items: center; // Alinea verticalmente imagen y texto
    }

    .imagen {
        img {
            border-radius: 1rem; // Un toque más moderno
            // En móvil ya es 100% por tus globales
        }
    }
}

.contenido-Evento {
    margin-top: 3rem; // Espacio entre imagen y texto en móvil

    @include m.tablet {
        margin-top: 0; // Quitamos el margen en tablet porque ya están a los lados
    }

    h2 {
        margin-bottom: 2rem;
        text-align: left; // Alineado a la izquierda como en tu foto
        font-size: 3.5rem;

        @include m.tablet {
            font-size: 4.6rem; // Tamaño de tus globales
        }
    }

    .info {
        color: v.$verdeOscuro;
        font-weight: 700;
        line-height: 1.8;
        font-size: 1.8rem;
        margin: 0; // Limpiamos márgenes extra
    }
}